.questions-list {
  height: 400px;
  width: 100%;
  background: #ffe;
}

.spectrum-header {
  padding: 30px 80px;
  background: #eee;
  margin-bottom: 30px;
  background: #333330;
}

.spectrum:first-child {
  border-left: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.spectrum:last-child {
  border-right: 2px solid #eee;
}

.spectrum h2 {
  margin: 0;
  padding: 0 10px;
  background: #00a3d0;
  display: block;
  color: #eee;
}

.spectrum:first-child h2 {
  float: left;
}

.spectrum:last-child h2 {
  float: right;
}

.spectrum:only-child {
  border-width: 0 10px 10px 0;
}

.question-search-results .question {
  cursor: pointer;
}