<div class="spectrum" data-gauge-id="<%= id %>">
  <div class="spectrum-label clearfix"><h2><%= getLabel('left') %></h2></div>
  <% if (getLabel('right')) { %>
    <div class="spectrum-label clearfix"><h2><%= getLabel('right') %></h2></div>
  <% } %>
</div>