<% layout('/global') %>
<% stylesheet('/stylesheets/home.css') %>

<div class="row">
  <div class="col-span-7">
    <%- current_question && current_question.render() %>
    <% for (var i in answers) { %>
      <%- answers[i].render() %>
    <% } %>
  </div>
  <div class="col-span-5">
    charts and whatnot go here
  </div>
</div>

<script>var next_questions = <%- JSON.stringify(next_questions) %>;</script>