<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include head %>
  </head>
  <body>

    <header>
      <ul class="nav nav-pills pull-right">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </header>

    <h1>Trendy Title</h1>
    <p>Discover your personality...</p>

    <div id="question" class="pull-right" data-question-id="1">
      <h3>Are you often late to appointments?</h3>
      <button type="button" class="btn btn-large btn-primary answer" value="yes">Yes</button>
      <button type="button" class="btn btn-large btn-primary answer" value="no">No</button>
    </div>

    <script src="/javascripts/index.js"></script>

  </body>
</html>