<% layout('/global') %>
<% stylesheet('/stylesheets/question.css') %>

<div class="row">
  <div class="span6">
    <div class="test-question">
      <div class="image">
        <h3>How often do you wish you were one of the last of your gender in the world?</h3>
      </div>
      <div class="answers">
        <button class="btn">German Shepherd</button>
        <button class="btn">Labrador Retreiver</button>
        <button class="btn">Mutt</button>
      </div>
    </div>
  </div>


  <div class="span6">
    <div class="test-question">
      <div class="image">
        <h3>How often do you wish you were one of the last of your gender in the world?</h3>
      </div>
      <div class="answers">
        <button class="btn">German Shepherd</button>
        <button class="btn">Labrador Retreiver</button>
        <button class="btn">Mutt</button>
      </div>
    </div>
  </div>
  
</div>