<% layout('/global') %>
<% stylesheet('/stylesheets/question.css') %>
<% script('/javascripts/question.js') %>

<div class="row">
  <div class="span6">
    <div class="test-question">
      <div class="image">
        <h3>How often do you wish you were one of the last of your gender in the world?</h3>
      </div>
      <div class="answers">
        <button class="btn">German Shepherd</button>
        <button class="btn">Labrador Retreiver</button>
        <button class="btn">Mutt</button>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="test-question">
      <div class="image">
        <h3>How often do you wish you were one of the last of your gender in the world?</h3>
      </div>
      <div class="answers">
        <div class="answered">German Shepherd</div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="test-question compact">
      <div class="image">
        <h3>How often do you wish you were one of the last of your gender in the world?</h3>
      </div>
    </div>
  </div>
</div>


<br><br><br>

<div class="row">
  <div class="span6">

    <div class="test-question question-set-spectrum" data-question-id="1">

      <div class="image">
        <h3>How often do you wish you were one of the last of your gender in the world?</h3>
      </div>

      <div class="answers clearfix">
        <div class="left-label spectrum-label">
          <div>Introverted</div>
        </div>
        <div class="answer clearfix">
          <div class="button">
            <button class="btn">Gigantic Fuzzy Squirrel</button>
          </div>
          <div class="spectrum">
            <div class="spectrum-score"></div>
          </div>
        </div>
        <div class="answer clearfix">
          <div class="button">
            <button class="btn">Banana</button>
          </div>
          <div class="spectrum">
            <div class="spectrum-score"></div>
          </div>
        </div>
        <div class="answer clearfix">
          <div class="button">
            <button class="btn">Cat</button>
          </div>
          <div class="spectrum">
            <div class="spectrum-score"></div>
          </div>
        </div>
        <div class="right-label spectrum-label">
          <div>Extroverted</div>
        </div>
      </div>

  </div>
</div>