<% layout('/global') %>
<% stylesheet('/stylesheets/gauge/new.css') %>
<% script('/javascripts/gauge/new.js') %>

<div class="row">
  <div class="col-span-12">
    <table class="table">
      <% for (var i in gauges) { %>
        <tr>
          <td>
            <%- gauges[i].render() %>
          </td>
          <td class="gauge-score">
            <button class="btn get-gauge-score">Get Score</button>
          </td>
        </tr>
      <% } %>
    </table>
  </div>
</div>