<% layout('/global') %>
<% stylesheet('/stylesheets/gauge/single.css') %>
<% script('/javascripts/gauge/single.js') %>

<h1><%= gauge.name %></h1>

Add a question: <input class="question-search" type="text" data-results=".question-search-results">
<div class="question-search-results">

</div>